@charset "UTF-8";
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
  background-color: #fff;
  line-height: 1.173;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Сброс стилей */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

.thumb, .button--close, .socials__link, .clients-list__link, .social-footer-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--flex, .nav, .menu-conteiner__info-link, .product__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -30px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.143;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--primary, .subscribe-button {
  border: 1px solid transparent;
  min-width: 200px;
  line-height: 1.875;
  color: #fff;
  background-color: #188ce8;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__logo--footer {
  color: #000000;
  font-family: "raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-pading-top {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section--desktop-shown {
    display: none;
  }
}

.section--secondary-bg-color {
  background-color: #f5f4fa;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  text-align: center;
  line-height: 1.167;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .section__title--mobile {
    font-size: 28px;
    line-height: 1.179;
    margin-bottom: 30px;
  }
}

.section__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .container--flex-baseline {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .container--flex-baseline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.container--flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  line-height: 1.188;
}

.page-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #212121;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover .menu-icon, .menu-button:focus .menu-icon {
  fill: #2196f3;
}

.menu-icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.menu-icon__icon-cross {
  display: none;
}

.menu-button.is-open .menu-icon__icon-cross {
  display: block;
}

.menu-button.is-open .menu-icon__icon-burger {
  display: none;
}

.menu-container {
  z-index: 1;
  display: none;
}

.menu-container.is-open {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: none;
  }
}

.menu-container__nav {
  margin-bottom: auto;
}

.menu-container__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-container__nav-link {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  line-height: 1.175;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container__nav-link:hover, .menu-container__nav-link:active, .menu-container__nav-link:focus {
  color: #2196f3;
}

.menu-container__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}

.menu-container__info-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-conteiner__info-link {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  line-height: 1.167;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-conteiner__info-link:hover, .menu-conteiner__info-link:active, .menu-conteiner__info-link:focus {
  color: #2196f3;
  font-size: 34px;
  line-height: 1.176;
}

.menu-container__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
}

.menu-container__socials-item {
  margin-left: 10px;
}

.menu-container__socials-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.menu-container__socials-link {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.222;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .info-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .info-nav {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .info-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .info-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
}

.info-nav--footer {
  display: block;
  margin-top: 8px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .info-nav--footer {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .info-nav--footer {
    margin-top: 9px;
  }
}

.info-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .info-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .info-nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

.info-nav__item--footer:last-child {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .info-nav__item--footer:last-child {
    margin-top: 9px;
  }
}

.info-nav__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.172;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .info-nav__link {
    font-size: 12px;
  }
}

.info-nav__link--footer {
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.02em;
  line-height: 1.172;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .info-nav__link--footer {
    font-size: 14px;
  }
}

.info-nav__link--footer:hover, .info-nav__link--footer:focus {
  color: #2196f3;
}

.info-nav__link--footer:hover .info-nav__icon, .info-nav__link--footer:focus .info-nav__icon {
  fill: currentColor;
}

.info-nav__link:hover, .info-nav__link:focus {
  color: #2196f3;
}

.info-nav__link:hover .info-nav__icon, .info-nav__link:focus .info-nav__icon {
  fill: currentColor;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: #212121;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  position: relative;
  color: #2196f3;
}

.site-nav__link--current::after {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.site-nav__link--mobile-current {
  color: #2196f3;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-back-desk-1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-back-desk-1x.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    max-width: 480px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-back-mob-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-back-mob-1x.jpg);
  }
}

@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-back-mob-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-back-mob-2x.jpg);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-back-tab-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-back-tab-1x.jpg);
  }
}

@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-back-tab-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-back-tab-2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-back-desk-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-back-desk-1x.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-back-desk-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-back-desk-2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  color: #fff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden.modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

@media screen and (max-width: 479px) {
  .backdrop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 15px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 90vw;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (max-width: 479px) {
  .modal {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}

.button--close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}

.button--close:hover,
.button--close:focus .button--close__icon {
  fill: #2196f3;
}

.button--close__icon {
  width: 11px;
  height: 11px;
  fill: #000000;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #212121;
  line-height: 1.5;
  margin-bottom: 12px;
}

@media screen and (mind-width: 480px) {
  .form__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form__field--check {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0px;
}

.form__input {
  margin: 0;
  padding: 12px;
  width: 100%;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .form__comment {
    height: 100px;
  }
}

.form__comment:hover, .form__comment:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form__comment::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  text-align: start;
  margin: 0;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.01em;
}

.form__comment:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  margin: 0;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.01em;
}

.form__comment::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  margin: 0;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.01em;
}

.form__comment::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  margin: 0;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.01em;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

.form__label--check {
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7px;
  margin-bottom: 0px;
  display: block;
}

@media screen and (min-width: 1200px) {
  .form__label--check {
    font-size: 14px;
    line-height: 1.714;
  }
}

.form__cell {
  position: relative;
  display: block;
  width: 100%;
}

.form__link {
  text-decoration: underline;
  color: #2196f3;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: #fff;
  background-color: #fff;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background-origin: border-box;
}

.checkbox:checked + .checkbox__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-size: contain;
}

.nav__logo {
  color: #000000;
  font-family: "raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
}

@media screen and (min-width: 1200px) {
  .nav__logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.192;
  }
}

.nav__logo-forepart {
  color: #2196f3;
}

.nav__logo--footer {
  color: #fff;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.625;
  border-radius: 4px;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: #2196f3;
}

.button--primary {
  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
}

@media screen and (max-width: 479px) {
  .button--primary {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
  }
}

@media screen and (max-width: 767px) {
  .features-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-card {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-card {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.features-card__thumb {
  width: 100%;
  padding: 25px 0;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.features-card__icon {
  width: 70px;
  height: 70px;
}

.features-card__title {
  font-weight: 700;
  font-size: 14px;
  color: #212121;
  text-transform: uppercase;
  line-height: 1.143;
}

@media screen and (max-width: 768px) {
  .features-card__title {
    text-align: center;
  }
}

.features-card__text {
  margin-top: 10px;
  line-height: 1.7142;
}

.profile-list__item {
  position: relative;
  margin-right: 30px;
}

.profile-list__overlay {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.profile-list__title {
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .team-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team-list__item {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.team-member {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team-member {
    padding-bottom: 30px;
  }
}

.team-member__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
}

.team-member__position {
  margin-top: 10px;
  font-size: 16px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  padding: 12px;
  border-radius: 50%;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.socials__link:hover .socials__logo, .socials__link:focus .socials__logo {
  fill: #fff;
}

.socials__logo {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients-list__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (max-width: 1199px) {
  .clients-list__item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__link {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    padding-left: 31px;
    padding-right: 31px;
  }
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: #2196f3;
}

.clients-list__link:hover .clients-list__logo, .clients-list__link:focus .clients-list__logo {
  fill: #2196f3;
}

.clients-list__logo {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .nav--footer {
    margin-right: 70px;
  }
}

.nav-address {
  margin-top: 20px;
  line-height: 1.714;
}

.nav-address__location {
  font-style: normal;
  color: #fff;
}

.social-footer {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .social-footer {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .social-footer {
    text-align: left;
  }
}

.social-footer__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.143;
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-footer__title {
    text-align: center;
  }
}

.social-footer-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
  margin-right: -10px;
}

.social-footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.social-footer-item__link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-footer-item__link:hover, .social-footer-item__link:focus {
  background-color: #2196f3;
}

.social-footer-item__icon {
  fill: #fff;
  width: 20px;
  height: 20px;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (min-width: 768px) {
  .footer-contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 61px;
    padding-right: 74px;
    margin-bottom: 60px;
  }
}

.subscribe-form {
  display: block;
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe-form {
    margin-right: auto;
  }
}

.subscribe-form__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.143;
  margin-bottom: 20px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .subscribe-form__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe-box__mail {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  color: #fff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  -webkit-transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.subscribe-box__mail:hover, .subscribe-box__mail:focus {
  outline: none;
  border-color: #2196f3;
}

.subscribe-box__mail::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-box__mail:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-box__mail::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-box__mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (max-width: 1199px) {
  .subscribe-box__mail {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-box__mail {
    min-width: 358px;
  }
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 12px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.subscribe-button {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  text-align: left;
  line-height: 1.875;
}

.subscribe-button__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #fff;
}

.filter-list {
  margin-bottom: 40px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter-list__item {
  display: inline-block;
  line-height: 1.625;
  margin-top: 15px;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__button {
  min-width: 73px;
  padding: 6px 22px;
  font-weight: 500;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, color cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, color cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms, color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms, color cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.filter-list__button:hover, .filter-list__button:focus {
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
  }
}

.product-list__card {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .product-list__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .product-list__card {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .product-list__card {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.product__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.product__link:hover, .product__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__link:hover .product__description, .product__link:focus .product__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product__image {
  position: relative;
  overflow: hidden;
}

.product__description {
  padding: 24px;
  font-size: 18px;
  line-height: 1.5555;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.product__meta {
  padding: 20px 24px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product__name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__category {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  margin-top: 4px;
}
/*# sourceMappingURL=main.css.map */