.clients-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 1199px) {
    margin: -15px;
  }
  @media screen and (min-width: $desk-point) {
    flex-wrap: nowrap;
  }
}

.clients-list__item {
  flex-basis: calc((100% - 60px) / 2);

  @media screen and (min-width: $tab-point) {
    flex-basis: calc((100% - 90px) / 3);
  }

  @media screen and (max-width: 1199px) {
    margin: 15px;
  }
  @media screen and (min-width: $desk-point) {
    flex-basis: calc((100% - 180px) / 6);
  }
  &:not(:last-child) {
    @media screen and (min-width: $desk-point) {
      margin-right: 30px;
    }
  }
}

.clients-list__link {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  border: 1px solid $social-link-color;
  @extend %flex-center;

  transition: border-color $timing-function $transition-duration;

  @media screen and (min-width: $desk-point) {
    padding-left: 31px;
    padding-right: 31px;
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
    .clients-list__logo {
      fill: $accent-color;
    }
  }
}

.clients-list__logo {
  fill: $social-link-color;
  width: 106px;
  height: 60px;
  transition: fill $timing-function $transition-duration;
}
