.features-list {
  @media screen and (min-width: $tab-point) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
  }
}
.features-card {
  &:not(:last-child) {
    @media screen and (max-width: $tab-point - 1px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tab-point) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desk-point) {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.features-card__thumb {
  width: 100%;
  padding: 25px 0;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: $secondary-bg-color;
}

.features-card__icon {
  width: 70px;
  height: 70px;
}

.features-card__title {
  font-weight: $title-font-weight;
  font-size: $item-font-size;
  color: $title-text-color;
  text-transform: uppercase;
  line-height: 1.143;

  @media screen and(max-width: $tab-point) {
    text-align: center;
  }
}

.features-card__text {
  margin-top: 10px;
  line-height: 1.7142;
}
