.filter-list {
  margin-bottom: 40px;
  margin-top: -15px;

  @media screen and (min-width: $tab-point) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desk-point) {
    margin-bottom: 50px;
  }
}

.filter-list__item {
  display: inline-block;
  line-height: 1.625;
  margin-top: 15px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.filter-list__button {
  min-width: 73px;
  padding: 6px 22px;
  font-weight: $nav-font-weight;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  transition: background-color $timing-function $transition-duration,
    box-shadow $timing-function $transition-duration,
    color $timing-function $transition-duration;

  &:hover,
  &:focus {
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.product-list {
  @media screen and(min-width: $tab-point) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
  }
}
.product-list__card {
  background-color: $primary-white-color;
  &:not(:last-child) {
    @media screen and (max-width: $tab-point - 1px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tab-point) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desk-point) {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.product__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: box-shadow $timing-function $transition-duration;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    .product__description {
      transform: translateY(0);
    }
  }
}

.product__image {
  position: relative;
  overflow: hidden;
}

.product__description {
  padding: 24px;
  font-size: $button-product-size;
  line-height: 1.5555;
  color: $primary-white-color;

  @extend %flex-align-center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform $timing-function $transition-duration;
}
.product__meta {
  padding: 20px 24px;
  border-left: 1px solid $border-card-color;
  border-right: 1px solid $border-card-color;
  border-bottom: 1px solid $border-card-color;
  flex-grow: 1;
}
.product__name {
  color: $title-text-color;
  font-weight: $title-font-weight;
  font-size: $button-product-size;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product__category {
  font-size: $button-font-size;
  line-height: 1.875;
  color: $primary-text-color;
  margin-top: 4px;
}
