.button {
  font-family: inherit;
  font-weight: $title-font-weight;
  font-size: $button-font-size;
  line-height: 1.625;
  border-radius: 4px;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  &--primary {
    display: inline-block;
    padding: 10px 32px;
    margin-top: 30px;
    @extend %subscribe-primary-button;
  }
}
