.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  &--flex-baseline {
    @media screen and (max-width: $desk-point - 1px) {
      text-align: center;
    }
    @media screen and (min-width: $desk-point) {
      display: flex;
      align-items: center;
      align-items: baseline;
    }
  }

  &--flex {
    justify-content: space-between;
    @extend %flex-align-center;
  }
}
