%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-align-center {
  display: flex;
  align-items: center;
}
%flex-align-baseline {
  display: flex;
  align-items: baseline;
}
%flexed-margin {
  display: flex;
  margin-right: -30px;
}

%nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: $nav-font-weight;
  letter-spacing: 0.02em;
  line-height: 1.143;

  transition: color $transition-duration $timing-function;
}

%subscribe-primary-button {
  border: 1px solid transparent;
  min-width: 200px;
  line-height: 1.875;
  color: $primary-white-color;
  background-color: $button-accent-color;
  border-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color $transition-duration $timing-function;
}
%title {
  font-weight: $title-font-weight;
  font-size: $form-title-size;
  color: $title-text-color;
}
