$primary-text-color: #757575;
$title-text-color: #212121;
$primary-white-color: #fff;
$accent-color: #2196f3;
$secondary-bg-color: #f5f4fa;
$footer-color: #2f303a;
$logo-color: #000000;
$button-accent-color: #188ce8;
$border-card-color: #f5f5f5;
$social-link-color: #afb1b8;
$hero-back-color: #c4c4c4;

$hero-font-weight: 900;
$title-font-weight: 700;
$nav-font-weight: 500;

$hero-font-size: 44px;
$title-font-size: 36px;
$logo-font-size: 26px;
$form-title-size: 20px;
$button-product-size: 18px;
$button-font-size: 16px;
$item-font-size: 14px;
$form-label-size: 12px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
